<div class="create-container">
    <form action="/project/create" method="post">
      <div id="create-project-title">
        <label for="title">Title</label>
        <div class="col-sm-10">
          <input type="text" name="title">
        </div>
      </div>
      <div id="create-project-description">
        <label for="description">Description</label>
        <div>
          <input type="text" name="description">
        </div>
      </div>
      <div id="create-project-author">
        <label for="author">Author Name</label>
        <div>
          <input type="text" name="author" value="<%= locals.user.name %>" readonly>
        </div>
      </div>
      <input type="hidden" name="id" value="<%= locals.user._id %>">
      <button type="submit" id="create-project-btn">Create Project</button>
    </form>
  </div>
  