<div class="create-issue-container">
    <h2>Create issue for the <%= project.title %> project</h2>
    <form method="post">
        <div class="create-form-group">
            <label for="title" >Title</label>
            <div >
                <input type="text" id="title" name="title">
            </div>
        </div>
        <div class="create-form-group">
            <label for="description" >Description</label>
            <div >
                <input type="text"  id="description" name="description">
            </div>
        </div>

        <div class="create-form-group">
            <% if (project?.labels?.length > 0) { %>
              <label for="labels">Choose or Add a label</label>
              <select name="select-labels" class="select-container" id="label">
                <% project.labels.forEach(label => { %>
                  <option value="<%= label %>"><%= label %></option>
                <% }); %>
                <option value="other">Add another label</option>
              </select>
              <div class="create-form-group">
                <input type="text" id="labels"  name="labels" >
              </div>
              
            <% } else { %>
              <label for="labels">Labels</label>
              <div class="create-form-group">
                <input type="text" id="labels-default" name="labels">
              </div>
            <% } %>
          </div>
          
        <div class="create-form-group">
            <label for="author" >Issue creator name</label>
            <div >
                <input type="text"  name="author" value="<%= locals.user.name %>" readonly>
            </div>
        </div>
        <button type="submit" >Create Issue</button>
    </form>
    
</div>
<script type="text/javascript" src="/js/script.js" ></script>