<div class="create-container">
    <h2>Create new project</h2>
    <form action="/project/create" method="post">
      <div class="create-form-group">
        <label for="title">Title</label>
        <div >
          <input type="text" name="title">
        </div>
      </div>

      <div class="create-form-group">
        <label for="description">Description</label>
        <div>
          <input type="text" name="description">
        </div>
      </div>
      <div class="create-form-group">
        <label for="author">Author Name</label>
        <div>
          <input type="text" name="author" value="<%= locals.user.name %>" readonly>
        </div>
      </div>
        
        <input type="hidden" name="id" value="<%= locals.user._id %>">
        <button type="submit" >Create Project</button>
    </form>
    
</div>
  