<div class="create-issue-container">
    
    <form method="post">
        <div class="create-form-group">
            <label for="title" >Title</label>
            <div >
                <input type="text" id="title" name="title">
            </div>
        </div>
        <div class="create-form-group">
            <label for="description" >Description</label>
            <div >
                <input type="text"  id="description" name="description">
            </div>
        </div>

        <div class="create-form-group">
            <% if(issues?.labels?.length>0) { %>
                <label for="labels">Choose a label</label>
                <select name="labels" id="labels">
            <% issues.labels.forEach(label => { %>
                <option value="<%= label %>"><%= label %></option>
            <% }); %>
                </select>
                <% } else { %>
            <label for="lables" >Labels</label>
            <div >
                <input type="text"  id="lables" name="labels">
            </div>
            <% } %>  
        </div>
        <div class="create-form-group">
            <label for="author" >Issue creator name</label>
            <div >
                <input type="text"  name="author" value="<%= locals.user.name %>" readonly>
            </div>
        </div>
        <button type="submit" >Create Issue</button>
    </form>
    
</div>