<div class="index-container">
    <!-- filter and search bar -->
    <div id="top-index-container">
      <div id="filter-project">
        <form action="/" method="POST">
          <input type="radio" id="author" name="flexRadio" value="author">
          <label for="author">Author</label><br>
          <input type="radio" id="title"  name="flexRadio" value="title">
          <label for="title">Title</label><br>
          <input type="radio" id="description" name="flexRadio" value="description">
          <label for="description">Description</label> 
          <input type="submit" value="Filter">
        </form>
      </div>
      <div class="search-container">
        <form action="/project/search" method="post">
          <input type="text" name="search" class="search" id="search" placeholder="Search projects by title/description">
          <button class="search-button" value="submit">Search</button>
        </form>
      </div>
    </div>
  
    <!-- project lists -->
    <div id="bottom-index-container">
      <div id="public-project">
        <div>
          <h2>All Projects</h2>
          <% if (typeof projects !== 'undefined' && projects.length > 0) { %>
            <div class="project-list">
              <% projects.forEach(project => { %>
                <div class="project-card">
                  <i class="fa fa-folder-open-o"></i>
                  <h2><%= project.title %></h2>
                  <p><%= project.description %></p>
                  <a href="<%= `/project/${project.slug}` %>" class="view-button">View</a>
                </div>
              <% }); %>
            </div>
          <% } else { %>
            <div>
              <h1 class="no-projects">No Projects Found</h1>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  
    <!-- project create button -->
    <div id="create-project-btn">
      <a href="/project/create" id="create-project-button">Create Project</a>
    </div>
  </div>
  