.index-container {
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-index-container {
    background-color: #47a3da;
    height: 30px;
    padding: 5px;
    width: auto;
    display: flex;
    align-items: center;
    
}

#top-index-container:hover {
    background-color: #1c8bc8;
}


#middle-index-container {
    height: 5px;
    border-bottom: 2px solid black;
}

#create-project-button  {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    
}

#bottom-index-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#public-project {
    display: inline-block;
}
