.profile-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px; }

h1 {
  text-align: center; }

.greetings {
  margin-bottom: 20px; }

.profile-form-group {
  margin-bottom: 10px; }

.profile-form-group label {
  display: block;
  font-weight: bold; }

.profile-form-group input[type="password"] {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s; }

.profile-form-group input[type="password"]:focus {
  border-color: #007bff;
  outline: none; }

.profile-form-group .btn {
  display: block;
  width: 101%;
  padding: 12px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer; }

.profile-form-group .btn:hover {
  background-color: #0056b3; }
